<mat-toolbar color="primary">Forecast Data</mat-toolbar>
<table mat-table [dataSource]="forecasts" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date : shortDate }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="temperatures">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Temeratures </th>
    <td mat-cell *matCellDef="let element"> {{element.temperatures}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>